@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;
  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;
  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --primary: 119 55% 45%; /* Tecnarit green color */
  --primary-dark: 119 55% 35%;
  --primary-light: 119 55% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 214 33% 17%; /* Tecnarit dark blue color */
  --secondary-foreground: 0 0% 100%;
  --accent: 86 74% 50%; /* Tecnarit lime green color */
  --accent-foreground: 0 0% 0%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --ring: 119 55% 45%;
  --radius: 0.5rem;
}
.dark {
  --background: 214 33% 17%; /* Tecnarit dark blue background */
  --foreground: 0 0% 98%;
  --muted: 214 20% 25%;
  --muted-foreground: 214 10% 70%;
  --popover: 214 33% 17%;
  --popover-foreground: 0 0% 98%;
  --card: 214 33% 17%;
  --card-foreground: 0 0% 98%;
  --border: 214 20% 25%;
  --input: 214 20% 25%;
  --primary: 119 55% 45%; /* Tecnarit green color */
  --primary-dark: 119 55% 35%;
  --primary-light: 119 55% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 214 33% 17%; /* Tecnarit dark blue color */
  --secondary-foreground: 0 0% 100%;
  --accent: 86 74% 50%; /* Tecnarit lime green color */
  --accent-foreground: 0 0% 0%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --ring: 119 55% 45%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer components {
  .tecnarit-gradient-text {
    @apply text-transparent bg-clip-text;
    background-image: linear-gradient(45deg, #33b330, #a4df22);
  }
  
  .tecnarit-gradient-bg {
    background-image: linear-gradient(45deg, #33b330, #a4df22);
  }
}